<% unless comment.archived? %>
  <p>
    <strong>Commenter:</strong>
    <% if comment.user.nil? %>
      "Deleted User"
    <% else %>
    <%= comment.user.username %>
    <% end %>
  </p>
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
    <%= link_to "Destroy Comment", [comment.article, comment], data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </p>
<% end %>
