<p>Likes: <%= comment.comment_ratings_count %></p>
<% if user_signed_in? %>
  <% if (comment.comment_ratings.exists?(user: current_user)) %>
    <%= button_to "Unlike", comment_comment_ratings_path(comment), method: :delete, data: { turbo_stream: true } %>
  <% else %>
    <%= button_to "Like", comment_comment_ratings_path(comment), method: :post, data: { turbo_stream: true } %>
  <% end %>
<% end %>