<p>Likes: <%= article.article_ratings_count %></p>
<% if user_signed_in? %>
  <% if (article.article_ratings.exists?(user: current_user)) %>
    <%= button_to "Unlike", article_article_ratings_path(article), method: :delete, data: { turbo_stream: true } %>
  <% else %>
    <%= button_to "Like", article_article_ratings_path(article), method: :post, data: { turbo_stream: true } %>
  <% end %>
<% end %>